:root {
  --primery-text-color: #757575;
  --title-color: #212121;
  --secondary-color: #2196f3;
  --background-color: #2f303a;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primery-text-color);
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
/* ============= header =============*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.logo:hover,
.logo:focus {
  opacity: 0.5;
}

.logo-color,
.head-contacts:hover,
.head-contacts:focus,
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--secondary-color);
}

.navigation-list-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.head-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.current {
  color: var(--secondary-color);
}
/* ============= end header =============*/

/* ============= hero =============*/
.section-hero {
  background-color: var(--background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--secondary-color);
}

.hero-btn:hover,
.hero-btn:focus {
  opacity: 0.5;
}
/* ============= end hero =============*/

/* ============= info =============*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.info-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.info-item-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ============= end info =============*/

/* ============= what we are doing =============*/
.we-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* ============= end what we are doing =============*/

/* ============= our team =============*/

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ============= end our team =============*/

/* ============= contacts info =============*/

.footer {
  background-color: var(--background-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.5;
}

.address-map {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-map:hover,
.address-map:focus {
  color: var(--secondary-color);
}

.footer-contacts {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--secondary-color);
}

/* ============= end contacts info =============*/

/* ============= filter list =============*/

.modal-btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: var(--secondary-color);
}
/* ============= end filter list =============*/

/* ============= portfolio list =============*/
.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
/* ============= end portfolio list =============*/
/* ============= =============*/
/* ============= =============*/
/* ============= =============*/
/* ============= =============*/
/* ============= =============*/
